/* © 2024 Fangfang Chen. All rights reserved. 
Unauthorized reproduction or use of the code or content is prohibited.
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: "Raleway", sans-serif;
}

h2 {
  font-family: "Raleway", sans-serif;
}

/* h3 {
  font-family: "PT Serif", serif;
} */

p,
a {
  font-size: 17px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  line-height: 25px;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.capitallize {
  text-transform: capitalize;
}

.upper {
  text-transform: uppercase;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px;
  height: 100px;
  color: rgb(240, 233, 233);
}

/* Sticky class that will be added on scroll */
.nav.sticky {
  position: fixed; /* Fixes the nav at the top of the page */
  top: 0; /* Sticks to the top */
  left: 0;
  width: 100%;
  background-color: rgb(39, 38, 38);
  z-index: 1000; /* Ensure the nav stays above other content */
}

.nav-bar .nav-flex {
  display: flex;
  gap: 160px;
  justify-content: space-between;
}

.logo {
  font-size: 28px;
  text-decoration: none;
  color: white;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

.burger-icon {
  display: none;
}

.burger-icon i {
  font-size: 25px;
  color: white;
}

.menu_items {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.menu_items a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

.nav-flex .active {
  color: white;
}

.menu_items .inactive {
  color: rgb(179, 176, 176);
}

.main-banner {
  background: url(assests/res3.jpg) rgba(0, 0, 0, 0.6);
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  padding: 260px 0;
}

.main-banner .banner-text {
  color: white;
  text-align: center;
}

.banner-text .big-title {
  font-size: 65px;
}

.banner-text p {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 55px;
  color: rgb(197, 196, 196);
}

.main-banner .banner-text a {
  font-size: 16px;
  color: white;
  text-decoration: none;
}

.main-banner .btn-transparent {
  background-color: transparent;
  border: 2px solid rgb(184, 183, 183);
  padding: 10px 35px;
  margin: 30px 0;
}

.main-banner .banner-text a:hover {
  font-size: 16px;
  background-color: gold;
  border: 2px solid #fff;
  color: #000;
  text-decoration: none;
}

.story {
  padding-top: 100px;
  padding-bottom: 120px;
}

.story .story-flex {
  display: flex;
  gap: 50px;
}

.story .story-text {
  width: 50%;
}

.story .story-img {
  width: 50%;
  height: 400px;
  background: url(assests/chef.jpg) rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-repeat: no-repeat;
}

.story-text p {
  margin: 25px 0;
}

.story-text .small-title {
  font-size: 22px;
  color: rgb(223, 218, 218);
  letter-spacing: 6px;
  font-weight: 500;
}

.story-text .big-title {
  font-size: 55px;
  animation: moveRight 2s alternate;
}

@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(0px);
  }
}

.fancy-btn {
  margin-top: 40px;
  background-color: gold;
  border: 2px solid gold;
  font-size: 18px;
  padding: 15px 15px;
}

.fancy-btn:hover {
  background-color: transparent;
  border: 2px solid gold;
}

/* Fancybox size */
.fb-content {
  display: none;
  width: 800px;
  z-index: 100; /* have this section to be ont top of the screen. */
}

/* Content size */
iframe {
  width: 700px;
  height: 400px;
}

.story-text a {
  padding: 10px 20px;
  margin-top: 55px;
  background-color: transparent;
  color: rgb(141, 138, 138);
  border: 2px solid rgb(184, 183, 183);
  text-decoration: none;
}

.offer {
  padding: 150px 0;
  background-color: rgb(252, 250, 250);
}

/* Reuseable */
.divider-texts {
  text-align: center;
  max-width: 580px;
  margin-left: auto;
  margin-right: auto;
}

.divider-texts .small-title {
  font-size: 22px;
  color: rgb(223, 218, 218);
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: 500;
}

.divider-texts .big-title {
  font-size: 45px;
  margin: 15px 0;
}

.divider-texts p {
  line-height: 30px;
  margin-bottom: 50px;
} /* Reuseable */

.offer .cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.cards-grid .card {
  background-color: white;
  padding-bottom: 60px;
}

.card .texts {
  text-align: center;
  margin: 0px 60px;
}

.dish-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 260px;
  /* border: 2px solid rgb(4, 73, 223); */
}

.card .price {
  font-size: 18px;
  color: rgb(233, 164, 15);
  margin-top: 20px;
  font-weight: 900;
}

.card .title {
  font-size: 22px;
  margin-top: 8px;
  font-weight: 800;
}

.card .paragraph {
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 35px;
  color: rgb(153, 152, 152);
  font-weight: 500;
  line-height: 25px;
}

.card .texts a {
  font-size: 15px;
  color: 000;
  padding: 15px 25px;
  background-color: gold;
  border-radius: 10px;
  text-decoration: none;
}

.gallery {
  padding: 60px 0;
  text-align: center;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding-top: 0px;
  padding-bottom: 60px;
}

.gallery-grid .img {
  background-position: center;
  background-size: cover;
}

.gallery-grid .gallery-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
}

.footer {
  padding: 80px 0;
  background-color: rgb(39, 38, 38);
}

.footer .footer-flex {
  gap: 120px;
  display: flex;
  line-height: 30px;
}

.footer-flex .left {
  width: 35%;
}

.footer-flex .right {
  width: 55%;
}

.right .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.bold-title {
  font-weight: 800;
  color: rgb(185, 182, 182);
  letter-spacing: 3px;
}

.footer p,
.sub-section {
  font-size: 16px;
  color: rgb(124, 123, 123);
}

.footer-item p {
  line-height: 45px;
}

.footer-about p {
  line-height: 30px;
}

.sub-section {
  text-align: center;
  line-height: 45px;
  justify-content: center;
  display: flex;
  gap: 30px;
  margin-top: 80px;
  margin-bottom: 30px;
}

.rights {
  color: rgb(124, 123, 123);
  text-align: center;
  line-height: 25px;
}

.footer-icons i {
  font-size: 25px;
  color: gray;
}

.circle {
  background: rgb(58, 57, 57);
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

/* Contact Section */
#contact {
  background-color: gold;
  padding: 50px 20px;
  text-align: center;
}

.contact-container {
  max-width: 800px;
  margin: 0 auto;
}

#contact h2 {
  font-size: 3rem;
  color: #333;
  margin-bottom: 30px;
}

#contact p {
  font-size: 1.1em;
  color: #000;
  margin-bottom: 30px;
}

.contact-details {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.contact-item {
  flex: 1;
  padding: 10px;
}

.contact-item h3 {
  color: #000;
  font-size: 1.2em;
  margin-bottom: 5px;
}

.contact-item p a {
  font-size: 28px;
  color: #000;
  font-weight: 600;
  text-decoration: none;
}

.contact-item p a:hover {
  text-decoration: underline;
}

/* Contact Form */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
}

.contact-form button {
  padding: 12px;
  border: none;
  border-radius: 4px;
  background-color: #db6314;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form button:hover {
  background-color: #000;
}

/* Menu Section */
#dish-menu {
  padding: 100px 0px;
  background-color: #fff;
}

#dish-menu .menu-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  gap: 30px;
}

#dish-menu #menu h2 {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #333;
}

#dish-menu .menu-content {
  display: flex;
  gap: 30px;
  width: 100%;
}

/* Left side - Tabs */
#dish-menu .tabs {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  gap: 50px;
}

.tab-button {
  padding: 10px 10px;
  font-size: 1.1em;
  min-width: 100px; /* Minimum width of button */
  max-width: 130px; /* Minimum width of button */

  /* border: 2px solid #000; */
  background-color: #fff;
  border: 1px solid gold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tab-button.active,
.tab-button:hover {
  background-color: gold;
  color: #000;
  /* border: 2px solid #000; */
}

/* Center - Menu Items */
#dish-menu .menu-items {
  flex: 3;
  display: flex;
  gap: 50px;
}

#dish-menu .menu-tab {
  display: none;
}

#dish-menu .menu-tab.active {
  display: block;
}

/* Menu Item Layout */
#dish-menu .menu-item {
  display: flex;
  gap: 50px;
  /* row-gap: 100px; */
  /* flex-direction: row-reverse; */
  margin: 50px 0;
}

#dish-menu .menu-item img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

#dish-menu .menu-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

#dish-menu .menu-text h4 {
  font-size: 1.5em;
  color: #121111;
  margin-bottom: 5px;
}

#dish-menu .menu-text p {
  font-size: 1em;
  color: #897f7f;
}

#dish-menu .menu-text .price {
  font-weight: bold;
  color: #e14119;
  margin-top: 10px;
  font-size: 1.2em;
}

button.add-to-cart {
  padding: 10px 20px;
  /* background-color: #414241; */
  border: 2px solid gold;
  border-radius: 5px;
  background-color: transparent;
  color: #000;
  cursor: pointer;
  margin-top: 10px;
}

button.add-to-cart:hover {
  background-color: gold;
  color: #000;
}

/* Right side - Cart */
.cart-container {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(85, 84, 84, 0.1);
  border-radius: 8px;
}

#cart h3 {
  font-size: 3em;
  margin: 20px 0;
  color: #333;
}

#cart-items {
  list-style-type: none;
  padding: 0;
}

.total {
  color: #e14119;
  font-size: 25px;
  margin: 30px 0px;
}

#cart-items li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #e11212;
}

#total-price {
  font-size: 1.5em;
  font-weight: bold;
  color: #e14119;
  margin: 0 20px;
}

#checkout-btn {
  padding: 10px 20px;
  background-color: #000;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
}

#checkout-btn:hover {
  background-color: gold;
  color: #000;
}

@media screen and (max-width: 1200px) {
  body {
    border: 5px solid red;
  }
  .menu-container {
    flex-direction: column;
  }

  #dish-menu .tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 200px;
  }

  .menu-items {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  #cart {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .tab-button {
    min-width: 160px; /* Minimum width of button */
    max-width: 200px; /* Minimum width of button */
  }
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .main-banner {
    padding: 190px 0;
  }

  .banner-text .big-title {
    font-size: 45px;
  }

  .banner-text p {
    margin-top: 10px;
    margin-bottom: 35px;
  }

  .story {
    padding-top: 80px;
    padding-bottom: 100px;
  }

  .story .story-flex {
    display: flex;
    gap: 35px;
  }

  .offer {
    padding: 100px 0;
    background-color: rgb(252, 250, 250);
  }

  .divider-texts .small-title {
    font-size: 15px;
  }

  .divider-texts .big-title {
    font-size: 35px;
  }

  .divider-texts p {
    line-height: 20px;
    margin-bottom: 30px;
  }

  .offer .cards-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .cards-grid .card {
    padding-bottom: 60px;
  }

  .card .texts {
    margin: 0px 20px;
  }

  .gallery {
    padding: 50px 0;
  }

  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer {
    padding: 80px 0;
  }

  .footer .footer-flex {
    gap: 60px;
    flex-direction: column;
  }

  .footer-flex .left {
    width: 100%;
  }

  .footer-flex .right {
    width: 100%;
  }

  .sub-section {
    margin-top: 60px;
  }
}

/* On screens that are 768px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 768px) {
  .menu-holder {
    display: none;
  }

  .burger-icon {
    display: block;
  }

  .story {
    padding-top: 50px;
    padding-bottom: 70px;
  }

  .story .story-flex {
    flex-direction: column;
    gap: 30px;
  }

  .story .story-text {
    width: 100%;
  }

  .story .story-img {
    width: 100%;
    height: 300px;
    background-position: left;
  }

  .story-text p {
    margin: 10px 0;
  }

  .story .titles {
    display: flex;
    gap: 20px;
  }

  .titles .small-title {
    font-size: 35px;
  }

  .titles .big-title {
    text-transform: uppercase;
    font-size: 35px;
  }

  .offer {
    padding: 70px 0;
  }

  .bold-title {
    font-weight: 500;
    letter-spacing: 2px;
  }

  .footer p,
  .sub-section {
    font-size: 15px;
  }

  .footer-item p {
    line-height: 35px;
  }

  .footer-about p {
    line-height: 20px;
  }

  #dish-menu {
    background-color: #fff;
    padding: 20px 0;
  }

  #dish-menu .tabs {
    flex-direction: column-reverse;
    gap: 5px;
  }

  .tab-button {
    min-width: 110px; /* Minimum width of button */
  }

  #dish-menu .menu-items {
    flex-direction: row;
  }

  #dish-menu .menu-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .menu-item img {
    width: 100%;
  }

  #dish-menu .menu-item img {
    width: 400px;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
  .main-banner {
    padding: 160px 0;
  }

  .story {
    padding-top: 30px;
    padding-bottom: 60px;
  }

  .story .story-flex {
    gap: 25px;
  }

  .story-text .small-title {
    font-size: 25px;
  }

  .story-text .big-title {
    font-size: 25px;
  }

  .offer {
    padding: 50px 0;
  }

  .divider-texts .big-title {
    font-size: 28px;
  }

  .divider-texts p {
    line-height: 20px;
    margin-bottom: 20px;
  }

  .offer .cards-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .cards-grid .card {
    padding-bottom: 30px;
  }

  .card .texts {
    margin: 0px 50px;
  }

  .gallery {
    padding: 30px 0;
  }

  .gallery-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer {
    padding: 50px 0;
  }

  .right .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }

  .footer p {
    font-size: 15px;
  }

  .sub-section {
    margin-top: 25px;
  }

  .tab-button {
    min-width: 90px; /* Minimum width of button */
  }
}

/* On screens that are 480px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 480px) {
  .right .grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
  }

  .story-text .small-title {
    font-size: 15px;
  }

  .story-text .big-title {
    font-size: 15px;
  }

  .footer .footer-flex {
    gap: 30px;
  }

  .footer {
    padding: 40px 0;
  }

  .right .grid {
    gap: 20px;
  }
}
